*{
    margin: 0;
    padding:0;
}
body{
    overflow: hidden;
    height:100%;
    background-color: lavender; 
}
.container{
    position: relative;
    height:100vh;
    width:100%;
    overflow: hidden;
}
.sky,.trees,.track{
    position:absolute;
    left: 0;
   width: 200%;
    /* background-repeat: no-repeat; */
    
}
.sky {
    height:40%;
    top:0;
}
.trees{
    top: 3px;
    height:40%;
   
}
.track{
    bottom: 0;
    height:30%;

}

/* .trees img{
    height: 150%;
    width:100%;
    position: absolute;
    bottom: 0;
    /* border: 2px solid red;  */
    /* background-repeat: no-repeat;
    background-size: cover;
}  */ 
/* .trees img{
    height: 40vh;
    width:100%;
}  */
/* .track img{
    height: 40vh;
    width:800vw;
    position: absolute;
    bottom: 0vh;
    transition: carMove linear 13s infinite ;
     border: 2px solid blue; 
} */
.car{
    /* border:2px solid red; */
    position:absolute;
    bottom:10%; 
    left:10%;
    width: 200px;
    transform-origin:center bottom;
    /* animation:shake linear .3s infinite; */
}
.car-body{
  width:60%;
  display: block;
  
}
.wheels{
    position:absolute;
    bottom:0; 
    width: 93%;
    transform-origin: center;
}
.wheel1{
    left:62%;
    
}
.wheel2{
   right:0%;
   left:322%;
   width:92%; 
}
.buttons{
    
    position: absolute;
    top: 20%;
    left: 25%;
    align-items: center;
   transform: translateX(-50%);
   
}
button{
    cursor: pointer;
    padding:10px 20px;
    margin:0 5px;
    font-size: 15px;
    color:rgb(44, 85, 162);
    background-color: deepskyblue;
    border-radius: 15px;
    
   
}